body {
	font-family: 'Open Sans', sans-serif;
}

.static-content,
p.concept-info,
.timer,
img.notification-case-created {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
}

.static-content .logo {
	vertical-align: top;
}

p.concept-info {
    left: initial;
    right: 30px;
    opacity: .2;
}

.timer {
    top: initial;
    bottom: 20px;
    left: 50%;
    width: 100px;
    height: 5px;
    opacity: .5;
    border-width: 0 1px 1px 1px;
    border-color: rgba(234,115,61,0.5);
    border-style: solid;
    margin-left: -70px;
}

.timer .progress {
	background: #ea733d;
	width: 0;
	height: 100%;
}

img.notification-case-created {
    left: initial;
    right: 30px;
    top: 10%;
}
